.container
  h1.mb-3 = @greeting
  #autocomplete.autocomplete-container
  #map

css: 
  #autocomplete {
    position: relative;
    width: 100%;
  }

javascript:
  const autocompleteInput = new autocomplete.GeocoderAutocomplete(
                          document.getElementById("autocomplete"), 
                          "#{ENV['GEOAPIFY_ADDRESS_AUTOCOMPLETE_API_KEY']}", 
                          { /* Geocoder options */ });

    autocompleteInput.on('select', ({city, country, state, place_id, lat, lon}) => {
      
    });